## Basic Structured Operations

### Step 1: Initialize PySpark Session

In [124]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, lit , avg
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType



# Create a Spark session
spark = SparkSession.builder.appName("day2").getOrCreate()

### Step 2: Load the Dataset

In [125]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = "./occupation.csv"  # Replace with the actual path
occupation = spark.read.csv(data_path, header=True, inferSchema=True)

In [126]:
occupation.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- zip_code: string (nullable = true)

### Problem 1: Selecting Specific Columns
Problem: Select the "user_id," "age," and "occupation" columns from the occupation DataFrame.

In [127]:
selected_columns_df = occupation.select("user_id", "age", "occupation")

selected_columns_df.show()

+-------+---+-------------+
|user_id|age|   occupation|
+-------+---+-------------+
|      1| 24|   technician|
|      2| 53|        other|
|      3| 23|       writer|
|      4| 24|   technician|
|      5| 33|        other|
|      6| 42|    executive|
|      7| 57|administrator|
|      8| 36|administrator|
|      9| 29|      student|
|     10| 53|       lawyer|
|     11| 39|        other|
|     12| 28|        other|
|     13| 47|     educator|
|     14| 45|    scientist|
|     15| 49|     educator|
|     16| 21|entertainment|
|     17| 30|   programmer|
|     18| 35|        other|
|     19| 40|    librarian|
|     20| 42|    homemaker|
+-------+---+-------------+
only showing top 20 rows

### Problem 2: Filtering Rows based on Condition
Problem: Find the users who are older than 30 years from the occupation DataFrame.

In [128]:
filtered_occupation = occupation.filter(occupation.age > 30)

filtered_occupation.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      2| 53|     F|        other|   94043|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
|     25| 39|     M|     engineer|   55107|
|     26| 49|     M|     engineer|   21044|
|     27| 40|     F|    librarian|   30030|
|     28| 32|     M|       writer|   55369|
|     29| 41|     M|   programmer|   94043|
|     34| 38|     F|administrator|   42141|
|     39| 41|     M|entertainment|   01040|
+-------+---+------+-------------+--------+
only showing top 20 rows

### Problem 3: Counting and Grouping
Problem: Count the number of users in each occupation from the occupation DataFrame.

In [129]:
occupation_counts = occupation.groupBy("occupation").agg(count("*").alias("user_count"))

occupation_counts.show()

+-------------+----------+
|   occupation|user_count|
+-------------+----------+
|    librarian|        51|
|      retired|        14|
|       lawyer|        12|
|         none|         9|
|       writer|        45|
|   programmer|        66|
|    marketing|        26|
|        other|       105|
|    executive|        32|
|    scientist|        31|
|      student|       196|
|     salesman|        12|
|       artist|        28|
|   technician|        27|
|administrator|        79|
|     engineer|        67|
|   healthcare|        16|
|     educator|        95|
|entertainment|        18|
|    homemaker|         7|
+-------------+----------+
only showing top 20 rows

### Problem 4: Adding a New Column
Problem: Add a new column "age_group" to the occupation DataFrame based on the age of the users. Divide users into age groups: "18-25", "26-35", "36-50", and "51+".

In [130]:
occupation_with_age_group = occupation.withColumn(
    "age_group",
    when(col("age").between(18, 25), "18-25")
    .when(col("age").between(26, 35), "26-35")
    .when(col("age").between(36, 50), "36-50")
    .otherwise("51+")
)


occupation_with_age_group.show()

+-------+---+------+-------------+--------+---------+
|user_id|age|gender|   occupation|zip_code|age_group|
+-------+---+------+-------------+--------+---------+
|      1| 24|     M|   technician|   85711|    18-25|
|      2| 53|     F|        other|   94043|      51+|
|      3| 23|     M|       writer|   32067|    18-25|
|      4| 24|     M|   technician|   43537|    18-25|
|      5| 33|     F|        other|   15213|    26-35|
|      6| 42|     M|    executive|   98101|    36-50|
|      7| 57|     M|administrator|   91344|      51+|
|      8| 36|     M|administrator|   05201|    36-50|
|      9| 29|     M|      student|   01002|    26-35|
|     10| 53|     M|       lawyer|   90703|      51+|
|     11| 39|     F|        other|   30329|    36-50|
|     12| 28|     F|        other|   06405|    26-35|
|     13| 47|     M|     educator|   29206|    36-50|
|     14| 45|     M|    scientist|   55106|    36-50|
|     15| 49|     F|     educator|   97301|    36-50|
|     16| 21|     M|entertainment|   10309|    18-25|
|     17| 30|     M|   programmer|   06355|    26-35|
|     18| 35|     F|        other|   37212|    26-35|
|     19| 40|     M|    librarian|   02138|    36-50|
|     20| 42|     F|    homemaker|   95660|    36-50|
+-------+---+------+-------------+--------+---------+
only showing top 20 rows

### Problem 5: Creating DataFrames and Converting to Spark Types
Problem: Given the provided code snippet, create a DataFrame df using the given data and schema. The schema includes columns for firstname, middlename, lastname, id, gender, and salary. After creating the DataFrame, print its schema and display its content without truncation.

In [131]:
#Defining Schema for our dataframe

schema = StructType([
    StructField("firstname", StringType(), True),
    StructField("middlename", StringType(), True),
    StructField("lastname", StringType(), True),
    StructField("id", IntegerType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", FloatType(), True)
])


#Inserting data into the newly made schema

data = [
    ("James", None, "Smith", 36636, "M", 3000.0),
    ("Michael", "Rose", None, 40288, "M", 4000.0),
    ("Robert", None, "Williams", 42114, "M", 4000.0),
    ("Maria", "Anne", "Jones", 39192, "F", 4000.0),
    ("Jen", "Mary", "Brown", None, "F", -1.0)
]

# Create a DataFrame using the schema and data

df = spark.createDataFrame(data, schema)


# Show the schema

df.printSchema()

# Display the content without truncation

df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: float (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |null      |Smith   |36636|M     |3000.0|
|Michael  |Rose      |null    |40288|M     |4000.0|
|Robert   |null      |Williams|42114|M     |4000.0|
|Maria    |Anne      |Jones   |39192|F     |4000.0|
|Jen      |Mary      |Brown   |null |F     |-1.0  |
+---------+----------+--------+-----+------+------+

### Problem 6: Adding and Renaming Columns
Problem: Add a new column "gender" to the existing DataFrame and rename the "Age" column to "Years".

In [132]:
# Add a new column "gender" with a constant value
occupation_with_gender = occupation.withColumn("gender", lit("Unknown"))

# Rename the "age" column to "years"
occupation_final = occupation_with_gender.withColumnRenamed("age", "years")

# Show the schema and content
occupation_final.printSchema()

occupation_final.show(truncate=False)

root
 |-- user_id: integer (nullable = true)
 |-- years: integer (nullable = true)
 |-- gender: string (nullable = false)
 |-- occupation: string (nullable = true)
 |-- zip_code: string (nullable = true)

+-------+-----+-------+-------------+--------+
|user_id|years|gender |occupation   |zip_code|
+-------+-----+-------+-------------+--------+
|1      |24   |Unknown|technician   |85711   |
|2      |53   |Unknown|other        |94043   |
|3      |23   |Unknown|writer       |32067   |
|4      |24   |Unknown|technician   |43537   |
|5      |33   |Unknown|other        |15213   |
|6      |42   |Unknown|executive    |98101   |
|7      |57   |Unknown|administrator|91344   |
|8      |36   |Unknown|administrator|05201   |
|9      |29   |Unknown|student      |01002   |
|10     |53   |Unknown|lawyer       |90703   |
|11     |39   |Unknown|other        |30329   |
|12     |28   |Unknown|other        |06405   |
|13     |47   |Unknown|educator     |29206   |
|14     |45   |Unknown|scientist    |55106   |
|15     |49   |Unknown|educator     |97301   |
|16     |21   |Unknown|entertainment|10309   |
|17     |30   |Unknown|programmer   |06355   |
|18     |35   |Unknown|other        |37212   |
|19     |40   |Unknown|librarian    |02138   |
|20     |42   |Unknown|homemaker    |95660   |
+-------+-----+-------+-------------+--------+
only showing top 20 rows

### Problem 7: Filtering Rows and Sorting
Problem: Filter out users who are younger than 30 years and sort the DataFrame by age in descending order.

In [144]:
# Filter out users younger than 30 years
filtered_occupation = occupation_final.filter(occupation.age >= 30)

# Sort the DataFrame by age in descending order
sorted_occupation = filtered_occupation.orderBy(occupation.age.desc())

# Show the resulting DataFrame
sorted_occupation.show()

+-------+-----+-------+-------------+--------+
|user_id|years| gender|   occupation|zip_code|
+-------+-----+-------+-------------+--------+
|    481|   73|Unknown|      retired|   37771|
|    767|   70|Unknown|     engineer|   00000|
|    803|   70|Unknown|administrator|   78212|
|    860|   70|Unknown|      retired|   48322|
|    559|   69|Unknown|    executive|   10022|
|    585|   69|Unknown|    librarian|   98501|
|    349|   68|Unknown|      retired|   61455|
|    573|   68|Unknown|      retired|   48911|
|    211|   66|Unknown|     salesman|   32605|
|    318|   65|Unknown|      retired|   06518|
|    564|   65|Unknown|      retired|   94591|
|    651|   65|Unknown|      retired|   02903|
|    423|   64|Unknown|        other|   91606|
|    845|   64|Unknown|       doctor|   97405|
|    364|   63|Unknown|     engineer|   01810|
|    777|   63|Unknown|   programmer|   01810|
|    858|   63|Unknown|     educator|   09645|
|    266|   62|Unknown|administrator|   78756|
|    520|   62|Unknown|   healthcare|   12603|
|    351|   61|Unknown|     educator|   49938|
+-------+-----+-------+-------------+--------+
only showing top 20 rows

### Problem 8: Repartitioning and Collecting Rows
Problem: Repartition the DataFrame into 2 partitions without shuffling the data, then collect and display all rows in the driver and print number of partitions

In [148]:
# Repartition the DataFrame into 2 partitions without shuffling
repartitioned_df = df.coalesce(2)

# Collect and display all rows in the driver
all_rows = repartitioned_df.collect()
for row in all_rows:
    print(row)

# Get the number of partitions
num_partitions = repartitioned_df.rdd.getNumPartitions()

Row(firstname='James', middlename=None, lastname='Smith', id=36636, gender='M', salary=3000.0)
Row(firstname='Michael', middlename='Rose', lastname=None, id=40288, gender='M', salary=4000.0)
Row(firstname='Robert', middlename=None, lastname='Williams', id=42114, gender='M', salary=4000.0)
Row(firstname='Maria', middlename='Anne', lastname='Jones', id=39192, gender='F', salary=4000.0)
Row(firstname='Jen', middlename='Mary', lastname='Brown', id=None, gender='F', salary=-1.0)

In [142]:
print("Number of partitions:", num_partitions)

Number of partitions: 2